<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion Alumnos</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ss</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [routerLink]="['/Alumnos/Crear']" >
              <ion-icon name="add-circle-outline"></ion-icon>
              Crear Alumno</ion-button>

          </ion-col>

        </ion-row>
      </ion-grid>


      <ion-list>
        <ion-item *ngFor="let a of listaAlumnoAsync; let index" >
          <ion-card  class="w-100" >
            <ion-card-header>
              <ion-card-title>{{a.nombres}} {{a.apellidos}}</ion-card-title>
              <ion-card-subtitle>{{a.tipoDocumento}}  {{a.numeroDocumento}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
               Dirreccion : {{a.barrioResidencia}} Barrio : {{a.barrioResidencia}}
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll>

      </ion-infinite-scroll>

      <div class="row row-cols-3 justify-content-start align-items-center g-3">






        <div *ngIf="!listaAlumnoAsync" class="mx-auto text-center py-4">
            <ion-spinner name="dots"></ion-spinner>
        </div>



        <!-- <div *ngFor="let a of listaAlumnoAsync" class="col col-12 col-xl-4 col-md-6">
          <ion-card  >
            <ion-card-header>
              <ion-card-title>{{a.nombres}} {{a.apellidos}}</ion-card-title>
              <ion-card-subtitle>{{a.tipoDocumento}}  {{a.numeroDocumento}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
               Dirreccion : {{a.barrioResidencia}} Barrio : {{a.barrioResidencia}}
            </ion-card-content>
          </ion-card>
        </div> -->

        <!-- <div *ngFor="let a of listaAlumnos |async" class="col-12 col-xl-4 col-md-6">
          <div class="card-alumno">
            <div>
              <h4 class="card-title p-0 m-0 fw-semibold">{{a.nombres}} {{a.apellidos}} </h4>
              <div class="row justify-content-start align-items-center g-2">
                <div class="col-2">{{a.tipoDocumento}}</div>
                <div class="col-7">{{a.numeroDocumento}}</div>
                <div class="col-3">Genero : {{a.genero}}</div>

                <div class="col-8">Direccion : {{a.direccionResidencia}} {{ a.barrioResidencia }}</div>
                <div class="col-4 text-center">

                  <a mat-raised-button color="accent" name="" id="" role="button"><i class="fa-regular fa-eye"></i></a>
                </div>

              </div>

            </div>
            <div>
            </div>
          </div>
        </div> -->
      </div>

    </div>

  </div>
</ion-content>


