<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion Alumnos</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ss</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [routerLink]="['/Alumnos/Crear']" >
              <ion-icon name="add-circle-outline"></ion-icon>
              Crear Alumno</ion-button>

          </ion-col>

        </ion-row>
      </ion-grid>



      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeMd="6" *ngFor="let a of listaAlumnos">
            <ion-card  class="w-100" >
              <ion-card-header>
                <ion-card-title>{{a.nombres}} {{a.apellidos}}</ion-card-title>
                <ion-card-subtitle>{{a.tipoDocumento}}  {{a.numeroDocumento}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                 <ion-button [routerLink]="['/Alumnos/Editar',a.id]" color="medium">Editar</ion-button>
              </ion-card-content>
            </ion-card>


          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-infinite-scroll>

      </ion-infinite-scroll>

      <!-- <ion-list>
        <ion-item *ngFor="let a of listaAlumnoAsync; let index" >
          <ion-card  class="w-100" >
            <ion-card-header>
              <ion-card-title>{{a.nombres}} {{a.apellidos}}</ion-card-title>
              <ion-card-subtitle>{{a.tipoDocumento}}  {{a.numeroDocumento}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
               Dirreccion : {{a.barrioResidencia}} Barrio : {{a.barrioResidencia}}
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll>

      </ion-infinite-scroll> -->


      <div *ngIf="!listaAlumnos" class="mx-auto text-center py-4">
        <ion-spinner name="dots"></ion-spinner>
    </div>


    </div>

  </div>
</ion-content>


